<h1>グループ情報修正</h1>
<%= form_with(model: @group, local: true) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= @group.errors.count %>件のエラーが発生したため保存ができませんでした。</h2>
      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "グループ名" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :text, "内容" %><br>
    <%= f.text_area :text, cols: 60, rows: 8 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to '戻る', groups_path %>
