<h1>Group</h1>
<p>
  <strong>グループ名：</strong>
  <%= @group.name %>
</p>

<p>
  <strong>活動内容：</strong>
  <%= @group.text %>
</p>

<h2>メンバー一覧</h2>
<% @group.group_users.each do |group_user| %>

  <p>
    <strong>メンバー：</strong>
    <%= group_user.user.name %>
  </p>
<% end %>

<h2>ユーザ追加</h2>
<%= form_for( [@group, @group.group_users.build] ) do |f| %>
  <p>
    <%= f.label :user_id, "ユーザ名" %><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to '編集', edit_group_path(@group) %>
<%= link_to '戻る', groups_path %>
